@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  background-color: #f9fafb;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
}

#app {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}